@import 'bootstrap/dist/css/bootstrap.min.css';

.energyForecastContainer {
    width: 100%;
    padding: 5px;
}

.energyForecastContainer .slotsContainer {
    display: flex;
    height: 100%;
    align-self: flex-start;
}

.energyForecastContainer .slotsContainer .slot {
    border: 2px solid black;
    border-right-width: 0;
    width: 100px;
    padding: 10px;
    text-align: center;
}

.energyForecastContainer .slotsContainer .slot:last-child {
    border-right-width: 2px;
} 

.energyForecastContainer .slotsContainer .slot.peak {
    background-color: red;
    color: white;
}

.energyForecastContainer .slotsContainer .slot.off-peak {
    background-color: green;
    color: white;
}