@import 'bootstrap/dist/css/bootstrap.min.css';

.energyForecastContainer {
    width: 100%;
    padding: 5px;
}

.energyForecastContainer .slotsContainer {
    display: flex;
    height: 100%;
    align-self: flex-start;
}

.energyForecastContainer .slotsContainer .slot {
    border: 2px solid black;
    border-right-width: 0;
    width: 100px;
    padding: 10px;
    text-align: center;    
    overflow: hidden;
}

.energyForecastContainer .slotsContainer .slot.hatched {
    background-color: gray;
    opacity: 0.8;
    /* background: repeating-linear-gradient( -45deg, #000000, #000000 2px, #ffffff 2px, #ffffff 5px ); */

}

.energyForecastContainer .slotsContainer .slot.hatched span { 
    background-color: #ffffff;
    text-transform: uppercase;
    color: #000;
    padding-left: 10px;
    padding-right: 10px;
    text-overflow: hidden;
    white-space: nowrap;
    overflow-x: none;
}

.energyForecastContainer .slotsContainer .slot:last-child {
    border-right-width: 2px;
} 

.energyForecastContainer .slotsContainer .slot.peak {
    background-color: red;
    color: white;
}

.energyForecastContainer .slotsContainer .slot.off-peak {
    background-color: green;
    color: white;
}